@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #003DF6;
  --brand-dark-blue: #0032A0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --brand-blue: var(--brand-blue);
  --brand-dark-blue: var(--brand-dark-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.popupContainer .leaflet-popup-content{
  margin: 0;
}

.leaflet-container .popupContainer a.leaflet-popup-close-button{
  color: #fff;
  font-weight: bold;
  padding: 2px;
  width: 28px;
  height: 28px;
}

.leaflet-container .popupContainer a.leaflet-popup-close-button:hover{
  color: #aaa;
  font-weight: bold;
}

.leaflet-container .tooltipContainer{
  background: hsla(0, 0%, 0%, 0.9);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border-color: transparent;
  margin-top: 0;
  font-size: 1.2em;

}

.tooltipContainer.leaflet-tooltip-top:before {
    border-top-color: hsla(0, 0%, 0%, 0.9);
    margin-bottom: -12px;
    bottom: 0;
}


